/* GRID */

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TEN  */
.span_10_of_10 {
	width: 100%;
}

.span_9_of_10 {
  	width: 89.84%;
}

.span_8_of_10 {
  	width: 79.68%;
}

.span_7_of_10 {
  	width: 69.52%;
}

.span_6_of_10 {
  	width: 59.36%;
}

.span_5_of_10 {
  	width: 49.2%;
}

.span_4_of_10 {
  	width: 39.04%;
}

.span_3_of_10 {
  	width: 28.88%;
}

.span_2_of_10 {
  	width: 18.72%;
}

.span_1_of_10 {
  	width: 8.56%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 500px) {
	.col {  margin: 1% 0 1% 0%; }
	
    .span_1_of_10, .span_2_of_10, .span_3_of_10, .span_4_of_10, .span_5_of_10, .span_6_of_10, .span_7_of_10, .span_8_of_10, .span_9_of_10, .span_10_of_10 {
	width: 100%; 
	}
}

/* END GRID */

body {
	font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
	margin: 0;
	max-width: 100%;
}

a {
	text-decoration: none;
}

a:visited {
	color: rgb(0, 0, 238);
}

#container {
	width: 95%;
	max-width: 960px;
	margin: auto;
}

#topLinks {
	width: 100%;
	min-height: 30px;
	text-align: right;
	font-size: 13px;
}

#globalNav {
	height: 30px;
	text-align: right;
	border-bottom: 6px solid transparent;
	clear: both;
	font-size: 13px;
	padding-bottom: 10px;
	margin-top: -10px;
}

#globalNav #menu {
	margin: 0;
	height: 30px;
}

#globalNav ul {
	display: inline-block;
	margin: 0;
}

#globalNav ul li {
	display: inline-block;
	padding: 10px 5px;
	margin-right: 30px;
}

#globalNav ul li:hover {
	background-color: rgba(179, 214, 239, 0.9);
}

#globalNav ul li.selected {
	background-color: #860038;
}

#globalNav ul li.selected a {
	color: #FFf;
}

#globalNav ul li a {
	border: 1px solid transparent;
	text-decoration: none;
}

#datepicker {
	font-weight: bold;
	text-align: center;
}

.ui-datepicker {
	font-size: 10pt !important;
}

.ui-widget-header {
	border: 0 !important;
	background: #ABD4F0 url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") !important;
}

#content {
	min-height: 500px;
	position: relative;
}

pre {
	margin: 0;
}
